name: ci

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version

      - name: Build Docker image with no-cache
        run: |
          docker-compose build --no-cache

      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/arm64
          tags: ${{ vars.DOCKERHUB_USERNAME }}/todoapp:latest

  deploy:
    runs-on: self-hosted
    needs: docker
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Apply Kubernetes Manifests
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/todoapp

      - name: Debug pod if deployment fails
        if: failure()
        run: kubectl describe pod -l app=todoapp
