name: ci

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push multi-arch Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/arm64
          tags: ${{ vars.DOCKERHUB_USERNAME }}/todoapp:latest
          build-args: |
            NO_CACHE=true
          no-cache: true

  deploy:
    runs-on: self-hosted
    needs: docker
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Apply Kubernetes Manifests
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/todoapp

      - name: Rollout restart for todoapp deployment
        run: kubectl rollout restart deployment todoapp

      - name: Port forward service to 8000
        run: kubectl port-forward service/todoapp-service 8000:8000 &
        
      - name: Port forward service to 3000
        run: kubectl port-forward service/todoapp-service 3000:3000 &
        
      - name: Debug pod if deployment fails
        if: failure()
        run: kubectl describe pod -l app=todoapp
